<h1>This is the edit page</h1>

<form action="/edit/<%= journal.plantName %>" class="formedit" role="form">
	<legend>Edit Journal</legend>
		<div class="form-group">
			<label for="plantName">Edit Plant Name</label>
			<input type="string" class="form-control" name="plantName" id="plantName" placeholder="plant name" value="<%=journal.plantName%>">
		</div>

<div class="form-group">
	<label for="description">Edit Description</label>
	<input type="string" name="description" class="description" id="description" placeholder="description" value="<%journal.description%>">
	<button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
