<h1>Lists all journals within a group</h1>

<h2>Eliza's Journal</h2>
<p><% %></p>

<h2>Donnie's Journal</h2>
<p><% %></p>

<h2>Cedar's Journal</h2>
<p><% %></p>
<!-- <div>
	<script>
  (function() {
    var cx = '006830080148680082686:ioesaosjzzw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div> -->
