<body class="loginpage">
<h1>Login to Your Journal</h1>
<form action="/login" method="POST">
<div class="form-group">
<label for="login">Login to your Group!</label>
<input type="groupname" class="form-control" name="groupname" id="groupname" placeholder="group name">
<p>If you are a member of a group please enter your groupname to view all group entries</p>
<label for="login">Username</label>
<input type="username" class="form-control" name="username" id="username" placeholder="username">
<label for="login">Password</label>
<input type="password" class="form-control" name="password" id="password" placeholder="password">
<button type="submit" class="btn btn-primary">Login to My Journal</button>
<button type="submit" class="btn btn-primary">Login to My Group</button>
</div>
</form>
</body>

