<h1>Login or Signup!</h1>

<br>
<h2>Current User?</h2>
<form action="/auth/login" method="POST">
<legend>Family Login</legend>

<div class="form-group">
<label for="login">Family Username</label>
<input type="lastName" class="form-control" name="lastName" id="login" placeholder="Type your family's last name">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</br>

