<body class="newgrouppage">
<h2>Create a New Group Name</h2>
<form action="/newgroup" method="POST" role="form">
	<fieldset>
		<legend>Group Name</legend>
		<div class="form-group">
			<label for="groupname">Group Name</label>
			<input type="text" class="form-control" name="groupname" id="groupname" placeholder="Enter a group name" required>
		</div>
		<div class="form-group">
			<label for="city">What City Do You Live In?</label>
			<input type="text" class="form-control" name="city" id="city" placeholder="Enter your City" required>
		</div>
		<div class="form-group">
			<label for="state">State</label>
			<input type="text" class="form-control" name="state" id="state" placeholder="Enter your State">
		</div>
	</fieldset>
	<fieldset>
		<legend>Admin User Info</legend>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" required>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="text" name="password" class="form-control" required>
		</div>

	</fieldset>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
