<!-- Associated with the Users table in DB -->
<!-- Users ->> groupId, username, password -->

<h1>New User Account</h1>
<form action="/newuser" method="POST" role="form">
	<div class="form-group">
			<label for="groupname">Group Name</label>
			<input type="text" class="form-control" name="groupname" id="groupname" placeholder="Enter Your Group Name">
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" id="username" placeholder="Create a Username">
		</div>
		<div class="form-group">
			<label for="password">Group Name</label>
			<input type="text" class="form-control" name="password" id="password" placeholder="Create a password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>
