<div class="text-center">
<h1>Welcome to My Field Journal App</h1>
<p>select from one of the following options</p>
</div>
<div class="text-center" >
      <a href="/opening" class="btn btn-primary">Home</a>
      <a href="/login" class="btn btn-danger">Login</a>
      <a href="/newgroup" class="btn btn-default">Create New Group</a>
      <a href="/newuser" class="btn btn-default">Create New User</a>
</div>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/video/MP4/Stone-Falls.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/video/WEBM/Stone-Falls.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/video/Stone-Falls.jpg" alt="">
        </div>
    </div>
</div>
