<!doctype html>
<html class="openingimg">
<head>
 <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
</head>
<body class="openingbody">
<div class="text-center topnav">
  <h1 class="title">lil' darwin's field journal</h1>
    <div class="text-center" >
      <a href="/opening" class="btn btn-default">Home</a>
      <a href="/login" class="btn btn-default">Login</a>
      <a href="/newgroup" class="btn btn-default">Create New Group</a>
      <a href="/newuser" class="btn btn-default">Create New User</a>
</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6" id="video">
      <div class="homepage-hero-module">
        <div class="video-container">
          <div class="filter">
            <video autoplay loop class="fillWidth">
              <source src="/video/MP4/Stone-Falls.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="/video/WEBM/Stone-Falls.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
          <div class="poster hidden">
            <img src="/video/Stone-Falls.jpg" alt="">
        </div>
      </div>
      </div>
    </div>
  </div> -->

  </div>
</div>
</div>
</body
</html>

