<div class="text-center">
<h1>Welcome to My Field Journal App</h1>
<p>select from one of the following options</p>
</div>
<div class="text-center" >
      <a href="/opening" class="btn btn-primary">Home</a>
      <a href="/login" class="btn btn-danger">Login</a>
      <a href="/newgroup" class="btn btn-default">Create New Group</a>
      <a href="/newuser" class="btn btn-default">Create New User</a>
        </div>
