<div class="text-center">
<h1>Welcome to Field Journal</h1>
<p>select from one of the following options</p>
</div>
<div class="text-center" >
      <a href="/" class="btn btn-primary">Home</a>
      <a href="/login" class="btn btn-danger">Login</a>
      <a href="/signup" class="btn btn-default">Sign up!</a>
        </div>
